@charset "UTF-8";
body {
    color: #000000;
    background: #ffffff;
    font-size: 15px;
    line-height: 1.3;
    min-width: 320px;
    font-family: "Open Sans", sans-serif;
}

.main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.left-sidebar {
    background: rgb(33, 106, 250);
    width: 20%;
}

.right-content {
    width: 80%;
}

.site-header {
    text-align: center;
    padding: 0 20px;
}

.logo {
    text-transform: uppercase;
    display: block;
    font-size: 36px;
    padding: 25px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}

.left-nav ul {
    list-style: none;
    padding: 0 10px;
}

.left-nav li {
    font-weight: 300;
    padding-left: 10px;
}
.left-nav li:nth-child(6){
    padding-left: 0;
}

.left-nav a.active,
.left-nav a:hover {
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.left-nav a.active:before{
    content: "|";
    height: 40px;
    color: #ffffff;
    position: absolute;
    left: -29px;
    top: 0;
    border-right: 9px solid #ffffff;
    border-radius: 2px;
    margin: 0;
    padding: 0;
}
.left-nav a {
    color: #ffffff;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.left-nav .fa {
    margin-right: 15px;
}

.card-calendar{
    width: 90%;
    margin: 30px auto;
    border: none;
}
.card-calendar .card-header{
    background: rgb(103, 150, 242);
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.card-meeting{
    position: relative;
    padding-left: 10px;
    border-left: 1px solid #cccccc;
    padding-bottom: 20px;
    font-size: 12px;
}
.card-meeting-time{
    font-size: 10px;
    color: #cccccc;
}
.card-meeting-title{
    font-size: 12px;
}
.card-meeting-number{
    color: #cccccc;
}
.card-meeting:last-child{
    border-left: none;
}
.card-meeting-title:before{
    content: "";
    width: 6px;
    height: 6px;
    background: rgb(33, 106, 250);
    position: absolute;
    top: 0;
    border-radius: 50%;
    left: -3px;
}
.img-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.meeting-avatar{
    width: 30%;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.top-nav-container {
    padding: 20px 0;
    -webkit-box-shadow: 0 6px 6px -6px #cccccc;
    box-shadow: 0 6px 6px -6px #cccccc;
}

.top-nav li {
    list-style: none;
}

.top-nav a {
    display: inline-block;
    color: #cccccc;
}

.bell {
    font-size: 18px;
    margin-right: 50px;
    padding-top: 13px;
}

.bell a {
    position: relative;
}

.bell .badge {
    position: absolute;
    top: -6px;
    right: -6px;
    font-size: 9px;
    border-radius: 50%;
    padding: 4px 6px;
}
.top-nav .nav-user {
    color: #000000;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.nav-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.user-mail {
    font-size: 10px;
    color: #cccccc;
    padding: 0;
    margin: 0;
}

.search-form {
    margin: 10px 20px;
    display: inline-block;
}

.search-form .input-group {
    width: 80%;
}

.search-form .input-group .form-control {
    border: 1px solid #cccccc;
    border-radius: 10px;
    color: #cccccc;
    padding-left: 30px;
}

.form-control:focus {
    border-color: #000000;
    outline: 0;
}

.form-control.highlight {
    color: #000000;
}

.search-form .input-group {
    position: relative;
}

.fa-search {
    height: 32px;
    width: 32px;
    border: none;
    cursor: pointer;
    color: #cccccc;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
.nav-tabs-custom{
    width: 90%;
}
.nav-custom .nav-tabs {
    border-bottom: 1px solid #E9F0FB;
}
.nav-tabs-custom .nav-item {
    margin-right: 10px;
}
.nav-tabs-custom .nav-item:last-child {
    margin-right: 0;
}

.nav-tabs-custom .nav-item .nav-link {
    background: rgb(245, 249, 255);
    color: #cccccc;
    border: 1px solid #E9F0FB;
    padding: 10px 32px;
}
.nav-tabs-custom .nav-item .active{
    border-bottom: none;
}
.nav-tabs-custom .nav-item .active {
    color: #007bff;
}

.nav-tabs-custom .nav-item .active {
    color: #007bff;
    border-bottom: none;
    background: #ffffff;
}

.meeting-tab-title,
.meeting-tab-subtitle,
.meeting-tab-button {
    text-transform: capitalize;
}

.meeting-tab-subtitle {
    color: #cccccc;
    display: inline-block;
}

.meeting-tab-button {
    background: none;
    color: rgb(33, 106, 250);
    border: none;
    float: right;
}

.button-plus {
    border: 1px dashed #007bff;
    border-radius: 50%;
    padding: 3px 7px;
    display: inline-block;
    margin-left: 5px;
}

.meeting-tab-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.meeting-tab-input-wrap {
    position: relative;
    width: 15%;
    margin-bottom: 25px;
}

.meeting-tab-input {
    width: 100%;
    background: rgb(137, 176, 255);
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    color: #ffffff;
    font-weight: bold;
}

.meeting-tab-close {
    position: absolute;
    top: -5px;
    right: -5px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    color: rgb(137, 176, 255);
    background: #ffffff;
    vertical-align: top;
}

.meeting-tab-input-wrap-second {
    position: relative;
}

.meeting-tab-input-second {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: rgb(245, 249, 255);
    color: #000000;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.save-button {
    background: rgb(33, 106, 250);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 25px;
    text-transform: capitalize;
}